{{#if adminServices.loggedIn}}
  <button {{action 'adminLogOut'}}>Log Out</button>
{{else}}
  <form  {{action 'adminLogIn' on="submit"}}>
    <div class="form-group">
      <label for="username">Username</label>
      {{input value=username id="username" required=true}}
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      {{input value=password id="password" required=true type="password"}}
    </div>
    <button {{action 'adminLogIn'}} type="submit">Log In</button>
  </form>
  <button {{action adminServices.displayAdminInfo}}>Forgot username of password</button>
  <button {{action 'testLog'}} name="button">test</button>
{{/if}}
