<h2>Shroom Hunter {{model.author}} asked</h2>
<div class="row">
  <div class="col-sm-8">
    <h3>{{model.content}}</h3>
    <div class="row" id="answer-table-head">
      <div class="col-md-2">
        <h5>User</h5>
      </div>
      <div class="col-md-10">
        <h5>Answer</h5>
      </div>
    </div>

      {{answer-tile question=model upVote='upVote' downVote='downVote'}}


  </div>
  <div class="col-sm-4">
    {{new-answer saveAnswer="saveAnswer" question=model}}
  </div>
</div>
{{admin-question}}
<button {{action 'testing'}} name="button"></button>
